  /* Estilos generales de la carp */
  .characterList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #888383;
  }

.card {
  flex: 1 1 calc(33.33% - 40px);
  max-width: 300px;
  min-width: 280px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

  /* Estilos para la imagen del personaje */
  .card figure {
    margin: 0;
    padding: 0;
}

.card img {
  width: 100%;
  border-radius: 6px;
  height: auto;
}

/* Texto dentro de la cadr*/
.card p {
  font-size: 18px;
  color: #666;
  margin: 10px 0 5px;
  margin-top: 0;
}

.card h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.card p:last-child {
  margin-bottom: 0;
}

/* Diseño responsivo */
@media (max-width: 900px) {
  .characterList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .characterList {
    grid-template-columns: 1fr;
  }
} 
  