/* Estilos para h1 Characters */
.home h1 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(91, 209, 220);
    background-color: black; 
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    text-transform: uppercase;
}

  /* Diseño responsivo */
  @media (max-width: 768px) {
    .home h1 {
        justify-content: center;
        width: 90%;
        max-width: 300px;
    }
} 

  @media (max-width: 480px) {
    .card {
        width: 100%;
        max-width: none;
    }
}