div{
    display: flex;
    flex-direction: column;  
    align-items: center;   
    gap:1em; 
}

div input{
    width: 60vw;
    max-width: 500px;
    border-radius: 10px;
    height:40px;
    background-color: darkgray;
    color:black;
    font-size: 1em;
}

div label{
    font-size: 1.5em;
}
